
<link href="~/Content/assets/styles/bootstrap4/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Không đủ quyền truy cập</title>
</head>
<body>
    <div class="mt-5" style="text-align: center">
        <h4 class="text-danger">Bạn không có quyền, đăng nhập để tiếp tục</h4>
        <button class="btn btn-primary btn-sm"><a class="text-white" href="/user/login">Đăng nhập</a></button>
    </div>

</body>
</html>
